# Ignore Visual Studio folders
.vs/
csharp/.vs/
csharp/GettingStarted/.vs/

".vs/" 
"csharp/GettingStarted/.vs/" 
"csharp/GettingStarted/.vs/" 
"csharp/GettingStarted/.vs/" 
"csharp/.vs/" 
"csharp/GettingStarted/.vs/" 
"csharp/.vs/" 
"csharp/GettingStarted/.vs/" 
